@use "./../../../node_modules/bootstrap/scss/bootstrap.scss";

.card {
  background-color: black;
  color: white;
  position: relative;

  &:hover {
    .info_card {
      display: inline-block;
    }
    .img-fluid{
      filter: brightness(0.1);
    }
  }

  .red_c {
    color: red;
  }

  .info_card {
    width: 100%;
    display: none;
    position: absolute;
    top: 30%;
    right: 0;
  }
}